body{
    background: wheat;
    padding-top: 20px;
    font-family:"Lato", sans-serif, Arial;
  }
  .header{
    border-radius: 20px 20px 0px 0px;
    padding: 10px 0px;
    background: #2B2E33;
    color: #fff;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
     }
  .faq-item{
    margin-bottom: 40px;
    margin-top: 40px;
   }
  .faq-body{
    display: none;
    margin-top: 30px;
  }
  .faq-wrapper{
    width: 75%;
    margin: 0 auto;
  }
  .faq-inner{
    padding: 30px;
    background: aliceblue;
  }
  .faq-plus{
    float: right;
    font-size: 1.4em;
    line-height: 1em;
    cursor: pointer;
  }
 hr{
    background-color: #9b9b9b;
  }

    body {
        background: wheat;
        padding-top: 0%;
        font-family: monospace;
        background-image: url(../imagenes/bg/nature-colorful-landscape-dusk-cloud.jpg);
        background-size:cover;
        background-repeat:no-repeat;
    }

    .header {
        border-radius: 20px 20px 0px 0px;
        padding: 10px 0px;
        background: #cbced356 (116, 79, 116);
        color: #fff;
        width: 100%;
        display: flex;
        align-content: center;
        justify-content: center;
       
    }

    .faq-item {
        margin-bottom: 40px;
        margin-top: 40px;
    }

    .faq-body {
        display: none;
        margin-top: 30px;
    }

    .faq-wrapper {
        width: 75%;
        margin: 0 auto;
    }

    .faq-inner {
        padding: 30px;
        background: aliceblue;
    }

    .faq-plus {
        float: right;
        font-size: 1.4em;
        line-height: 1em;
        cursor: pointer;
    }

    hr {
        background-color: #070707;
    }

    nav {
        background-color:var(--bg-color);
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px; 
    }

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        gap: 30px;
    }

    nav ul li {
        display: inline-block;
    }

    nav ul li a {
        color: white;
        text-decoration: none;
        padding: 10px 20px;
    }

    nav ul li a:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }

   /* .search-box {
        display: flex;
        align-items: center;
    }

    .search-box input {
        padding: 5px;
        border-radius: 5px 0 0 5px;
        border: none;
    }

    .search-box button {
        padding: 5px;
        border: none;
        background-color: white;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
    }

    .search-box button img {
        width: 20px;
        height: 20px;
    }

    .logo {
        height: 70px;
        margin-left: 20px;
    }  
    nav ul li:last-child {
        margin-right: 20px; 
    }