:root {
  font-size: 32px;
}

body {
  margin: 0;
  padding: 0;
  background-image: url(./fondo01.jpg);
  background-size: cover;
}

nav {
  padding: 10px 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
nav ul li {
  display: inline;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
}



header {
  color: #fff;
  padding: 40px 0;
  text-align: center;
}
main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  color: aquamarine;
}

h2 {
  margin-top: 40px;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: #7c7cad;
}
p {
  color: #f6f1f1;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.enlace-home {
  text-align: left;
  display: block;
}

.enlace-login {
  text-align: right;
  display: block;
}

.enlaces-container {
  display: flex;
  justify-content: space-between;
  margin-left: 5cm; 
  margin-right: 5cm; 
}

.enlace-izquierda {
  order: 1; 
}

.enlace-derecha {
  order: 2; 
}

.search-box {
  position: relative;
  width: 300px;
  margin: 0 auto;
}

.search-box input[type="text"] {
  width: calc(100% - 40px);
  padding: 10px;
  border-radius: 5px 0 0 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.search-box button {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 100%;
  background-color: #ccc;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.search-box button img {
  width: 15px;
  height: 15px;
  margin-top: 2px;
}

#weather-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-center;
  max-width: 80px;
  width: 100%;
  padding: 20px;
  background-color: #ad97c5; 
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}
#contenedor {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#caja1,
#caja2,
#caja3 {
  text-align: center;
  width: 200px;
  height: 200px;
  margin: 0 10px;
}

#caja1 {
  background-color: rgba(0, 0, 0, 0.767);
  color: azure;
}
#caja2 {
  background-color: darkslateblue;
  color: azure;
}
#caja3 {
  background-color: #2ab2ea;
  color: azure;
}
