:root {
  /*Se escogio una paleta de color monocromatica*/
  --bg-color: #2B2E33;
    --primary-color:#2063C0;
    --secondary-color:#325B96 ;
    --third-color:#0062EB ;
    --third-bis-color: #3D41C0;
    --bg-input-color:#364C6B;
    --bg-principalesCiudades-color:#79c9ff71;
    --bg-prinCiudadesMiniCard-color:#93c4f1;
    
}

* {
  margin: 0;
  padding: 0;
}

.logo {
  width: 150px;  /* Ajusta el ancho del logo según sea necesario */
  height: auto; /* Mantén la proporción de la imagen */
}


body,html {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  /*background-image: url(/imagenes/fondo01.jpg);*/
  background-image: url(../imagenes/bg/nature-colorful-landscape-dusk-cloud.jpg);
  /*background-image: url(../imagenes/fondo01.jpg);*/
  background-size:cover;
  background-repeat:no-repeat;
 /* background-color: #f6f1f1;*/

}

main{
  min-height: 100vh;
  border: 10px solid;
  border-color: #364c6b56;
  
}

header{
  background-color:var(--bg-color);
  padding: 1vh 0;
}


nav {
  display:flex;
  justify-content:space-between;
  align-items: center;
  /*padding: 10px 0;
  font-size: 70%;
  display: flexbox;*/
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: right;
}
nav ul li {
  display: inline-block;
}

nav ul li:first-child{
  margin-left:0;
}

nav ul li :last-child{
  margin-right: 1vw;
}

nav ul li a, nav>a{
  display:block;
  padding: 10px 20px;
  text-decoration: none;
  color:var(--primary-color);
  transition:backgraund-color 0.5s ;
}
nav ul li a:hover{
  background-color:var(--bg-input-color);
}


nav ul li a {
  color:var(--primary-color);
  text-decoration: none;
  padding: 10px 20px;
}

#mainTitle{
  color:var(--primary-color);
}

.search-box {
  position: relative;
  width: 50vw;
  max-width: 300px;
  margin: 0 auto;
}

.sectionTitle{
  text-align: center;
  color: var(--bg-color);
}

.search-box input[type="text"] {
  width: calc(100% - 40px);
  padding: 10px;
  border-radius: 5px 0 0 5px;
  border: 1.5px solid var(--secondary-color);
  font-size: 16px;
}

.search-box button {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 100%;
  background-color: var(--bg-prinCiudadesMiniCard-color);
  border: 1.5px solid var(--secondary-color);
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.search-box button img {
  width: 15px;
  height: 15px;
  margin-top: 2px;
}

#weather-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-center;
  max-width: 80px;
  width: 100%;
  padding: 20px;
  background-color: var(--secondary-color);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

 .tarjetaTuCiudad{
  max-width:500px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color:var(--bg-principalesCiudades-color);
    width: calc(100% - 2.3rem);
    display: flex;
    flex-direction: column;
    
 }
.rowInfoActual{
  display: flex;
  flex-direction: row;
  align-items:stretch;
}
.cardTxt{
  width: calc(50% - 2.5rem);
  display: flex;
  flex-direction: column;
}

 #descripcion{
  display: block;
  text-align: center;
  margin-bottom: 10px;
  font-size:1.5rem;
 }

 #variableTitulo{
  display: block;
  text-align: center;
 }

 .tuCiudadIcon{
    display: block;
    margin-right: .5rem;
 }

 #tuCiudadIcon{
  height:70px;
 }


 #temp{
  font-size: 1.5rem;
 }

 #humedad{
  font-size: 1.5rem;

 }

 #viento{
  font-size: 1.1rem;  
 }
 #presion{
  display: block;
 

  font-size: 1.1rem;
  
 }

 

#mapa {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #79c9ff71;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.contenedorResponsivo {
  position: relative;
  overflow: hidden;
  padding-top: 80%;
}

.iframeResponsivo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}


footer{
  background-color: var(--bg-color);
  display: grid;
  place-items: center;
  text-align: center;
  padding: 1vh 0;
  padding-bottom: 0;
  margin-bottom: 0;
}


@media only screen and (min-width: 1024px) {
  /* Estilos para PC de escritorio */
  /*#caja1 {
    background-color: rgba(1, 21, 24, 0.767);
    color: azure;
  }*/
}

@media only screen and (min-width: 600px) and (max-width: 1023px) {
  /* Estilos para tablet */
  .search-box {
    width: 40vw; /* Ancho relativo al 40% del viewport width en dispositivos medianos */
  }
}

@media only screen and (max-width: 599px) {
  /* Estilos para dispositivos móviles */
  nav {
    font-size: 45%;
  }
  /*#caja1,
  #caja2,
  #caja3 {
    text-align: center;
    font-size: 30%;
    width: 60px;
    height: 60px;
    margin: 0 10px;
  }*/
  .cajas {
    flex-direction: column; /* cambia la dirección de los elementos a vertical */
  }
  .caja {
    height: 25%;
    width: 25%;
  }
  .search-box {
    width: 30vw; /* Ancho relativo al 40% del viewport width en dispositivos medianos */
  }
}
